{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'api_rest/css/style.css' %}">
    <title>Inserir Candidato</title>
</head>

<body>
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li class="message-success">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

    <h1>Inserir Novo Candidato</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="{{ form.candidato_nome.id_for_label }}">{{ "Nome"}}</label>
            {{ form.candidato_nome }}
        </div>
        
        <div>
            <label for="{{ form.candidato_nascimento.id_for_label }}">{{ "Nascimento"}}</label>
            {{ form.candidato_nascimento }}
        </div>

        <div>
            <label for="{{ form.candidato_cpf.id_for_label }}">{{ "Cpf"}}</label>
            {{ form.candidato_cpf }}
        </div>

        <div>
            <label for="{{ form.candidato_email.id_for_label }}">{{ "Email"}}</label>
            {{ form.candidato_email }}
        </div>

        <div>
            <label for="{{ form.candidato_telefone.id_for_label }}">{{ "Telefone"}}</label>
            {{ form.candidato_telefone }}
        </div>

        <div>
            <label for="{{ form.candidato_endereco.id_for_label }}">{{ "endereco"}}</label>
            {{ form.candidato_endereco }}
        </div>

        <div>
            <label for="{{ form.candidato_cargo.id_for_label }}">{{ "Cargo" }}</label>
            {{ form.candidato_cargo }}
        </div>

        <div>
            <label for="{{ form.candidato_empresa.id_for_label }}">{{ "Empresa"}}</label>
            {{ form.candidato_empresa }}
        </div>

        <div>
            <label for="{{ form.candidato_periodo.id_for_label }}">{{ "Periodo"}}</label>
            {{ form.candidato_periodo }}
        </div>

        <div>
            <label for="{{ form.candidato_descricao.id_for_label }}">{{ "Descricao"}}</label>
            {{ form.candidato_descricao }}
        </div>

        <div>
            <label for="{{ form.candidato_instituicao.id_for_label }}">{{ "Instituição"}}</label>
            {{ form.candidato_instituicao }}
        </div>

        <div>
            <label for="{{ form.candidato_curso.id_for_label }}">{{"Curso"}}</label>
            {{ form.candidato_curso }}
        </div>

        <button type="submit">Salvar</button>
    </form>
</body>
</html>
